In [1]:
import numpy as np
import pandas as pd

In [2]:
movie= pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
ratings = ratings.drop('timestamp',axis=1)

In [9]:
ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [19]:
import pandas as pd
from sklearn.decomposition import TruncatedSVD

# Load ratings data from CSV file into a pandas DataFrame
ratings_df = pd.read_csv('ml-25m/ratings.csv')
small_ratings_df = ratings_df[:10000]

# Reset the index to ensure a clean and sequential index
ratings_df = small_ratings_df.reset_index(drop=True)

# Pivot the ratings data to create the user-item matrix
user_item_matrix = small_ratings_df.pivot(index='userId', columns='movieId', values='rating').fillna(0)

# Step 1: Fill missing entries with user means
user_means = user_item_matrix.mean(axis=1)
filled_user_item_matrix = user_item_matrix.sub(user_means, axis=0).fillna(0)

# Step 2: Compute similarity matrix S = Rf.T @ Rf
similarity_matrix = filled_user_item_matrix.T.dot(filled_user_item_matrix)

# Step 3: Perform eigenvalue decomposition
d = 10  # Choose the number of dimensions
svd = TruncatedSVD(n_components=d)
svd.fit(similarity_matrix)
eigenvalues = svd.singular_values_
eigenvectors = svd.components_.T

# Step 4: Reduce dimensionality of Rf
reduced_representation = filled_user_item_matrix.dot(eigenvectors)

In [20]:
reduced_representation.head()

,0,1,2,3,4,5,6,7,8,9
userId,,,,,,,,,,
1,1.386358,1.849875,2.423786,1.401452,1.886193,0.986462,1.680169,2.065087,2.650653,1.016376
2,22.077765,3.409157,-5.284337,7.613621,1.903523,-2.066745,-8.815291,5.423296,-1.957602,-3.073975
3,20.392200,63.164679,-16.395891,-41.527407,-21.958366,-11.701960,-2.363192,-7.493129,6.014720,-9.811367
4,13.124933,20.096588,-7.559784,1.364940,-6.241180,-2.260828,-4.740078,0.845615,-7.135728,-1.595804
5,12.834660,-5.120109,-0.959321,1.007152,3.013938,-3.048615,-4.366261,-6.733884,-1.895099,-1.289979