In [1]:
import numpy as np
import pandas as pd

In [2]:
movie= pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
ratings = ratings.drop('timestamp',axis=1)

In [9]:
ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [17]:
import pandas as pd
from sklearn.decomposition import TruncatedSVD

# Load ratings data from CSV file into a pandas DataFrame
ratings_df = pd.read_csv('ml-25m/ratings.csv')

# Reset the index to ensure a clean and sequential index
ratings_df = ratings_df.reset_index(drop=True)

# Pivot the ratings data to create the user-item matrix
user_item_matrix = ratings_df.pivot(index='userId', columns='movieId', values='rating').fillna(0)

# Step 1: Fill missing entries with user means
user_means = user_item_matrix.mean(axis=1)
filled_user_item_matrix = user_item_matrix.sub(user_means, axis=0).fillna(0)

# Step 2: Compute similarity matrix S = Rf.T @ Rf
similarity_matrix = filled_user_item_matrix.T.dot(filled_user_item_matrix)

# Step 3: Perform eigenvalue decomposition
d = 10  # Choose the number of dimensions
svd = TruncatedSVD(n_components=d)
svd.fit(similarity_matrix)
eigenvalues = svd.singular_values_
eigenvectors = svd.components_.T

# Step 4: Reduce dimensionality of Rf
reduced_representation = filled_user_item_matrix.dot(eigenvectors)

# Usage example:
# reduced_representation now contains the reduced representation of users in a d-dimensional space
# You can proceed to use this representation for finding similar users or making predictions

c:\users\skand\appdata\local\programs\python\python39\lib\site-packages\pandas\core\reshape\reshape.py:143: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

IndexError: index 1007637055 is out of bounds for axis 0 with size 1007623835