In [1]:
import numpy as np
import pandas as pd

In [2]:
movie= pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
ratings = ratings.drop('timestamp',axis=1)

In [9]:
ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [19]:
import pandas as pd
from sklearn.decomposition import TruncatedSVD

ratings_df = pd.read_csv('ml-25m/ratings.csv')
movies_df = pd.read_csv('ml-25m/movies.csv')

movies_ratings_df = pd.merge(ratings_df,movies_df, on="movieId")

small_movies_ratings_df = movies_ratings_df[:10000]

ratings_df = small_movies_ratings_df.reset_index(drop=True)

user_ratings_pivot = small_movies_ratings_df.pivot(index='userId', columns='title', values='rating').fillna(0)

avg_ratings = user_ratings_pivot.mean(axis=1)
filled_user_item_matrix = user_ratings_pivot.sub(avg_ratings, axis=0).fillna(0)

In [20]:
filled_user_item_matrix.head()

title,$5 a Day (2008),'Round Midnight (1986),"'burbs, The (1989)",(500) Days of Summer (2009),...And Justice for All (1979),10 (1979),10 Rillington Place (1971),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),...,Your Friends and Neighbors (1998),Z (1969),Zack and Miri Make a Porno (2008),Zero Effect (1998),Zombieland (2009),Zoolander (2001),Zootopia (2016),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,...,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229
2,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,...,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225
3,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,...,-0.737907,-0.737907,-0.737907,-0.737907,3.262093,2.762093,-0.737907,2.762093,-0.737907,-0.737907
4,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,...,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,3.751293,4.251293,-0.248707,-0.248707,-0.248707
5,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,...,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(user_ratings_pivot)

cosine_similarity_df = pd.DataFrame(similarities,
                                    index=user_ratings_pivot.index,
                                    columns=user_ratings_pivot.index)
cosine_similarity_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,66,67,68,69,70,71,72,73,74,75
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.040863,0.061306,0.040815,0.015609,0.000000,0.093852,0.021359,0.022860,0.026149,...,0.027029,0.014144,0.123409,0.077003,0.096766,0.000000,0.047798,0.000000,0.038120,0.016482
2,0.040863,1.000000,0.179009,0.197496,0.158202,0.129720,0.064954,0.176880,0.128820,0.156814,...,0.159310,0.124636,0.106164,0.285614,0.327078,0.240235,0.225541,0.057865,0.095406,0.156462
3,0.061306,0.179009,1.000000,0.357750,0.061448,0.115148,0.031427,0.081003,0.061602,0.132361,...,0.101599,0.043351,0.147375,0.265932,0.224910,0.158936,0.125179,0.046192,0.035388,0.073670
4,0.040815,0.197496,0.357750,1.000000,0.065825,0.072365,0.015566,0.088927,0.066428,0.083821,...,0.056998,0.069856,0.172473,0.183328,0.198931,0.184030,0.098636,0.023829,0.018178,0.054689
5,0.015609,0.158202,0.061448,0.065825,1.000000,0.114936,0.202348,0.307769,0.216435,0.269897,...,0.145419,0.124905,0.036625,0.165236,0.187503,0.181828,0.245060,0.277126,0.260568,0.279906

In [7]:
# Step 2: Compute similarity matrix S = Rf.T @ Rf
similarity_matrix = filled_user_item_matrix.T.dot(filled_user_item_matrix)

# Step 3: Perform eigenvalue decomposition
d = 10
svd = TruncatedSVD(n_components=d)
svd.fit(similarity_matrix)
eigenvalues = svd.singular_values_
eigenvectors = svd.components_.T

# Step 4: Reduce dimensionality of Rf
reduced_representation = filled_user_item_matrix.dot(eigenvectors)

In [20]:
reduced_representation.head()

,0,1,2,3,4,5,6,7,8,9
userId,,,,,,,,,,
1,1.386358,1.849875,2.423786,1.401452,1.886193,0.986462,1.680169,2.065087,2.650653,1.016376
2,22.077765,3.409157,-5.284337,7.613621,1.903523,-2.066745,-8.815291,5.423296,-1.957602,-3.073975
3,20.392200,63.164679,-16.395891,-41.527407,-21.958366,-11.701960,-2.363192,-7.493129,6.014720,-9.811367
4,13.124933,20.096588,-7.559784,1.364940,-6.241180,-2.260828,-4.740078,0.845615,-7.135728,-1.595804
5,12.834660,-5.120109,-0.959321,1.007152,3.013938,-3.048615,-4.366261,-6.733884,-1.895099,-1.289979