In [2]:
import pandas as pd

In [3]:
movie = pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')

In [4]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
ratings = ratings.drop('timestamp', axis=1)

In [7]:
ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [8]:
import pandas as pd

ratings_df = pd.read_csv('ml-25m/ratings.csv')
movies_df = pd.read_csv('ml-25m/movies.csv')

movies_ratings_df = pd.merge(ratings_df, movies_df, on="movieId")

small_movies_ratings_df = movies_ratings_df[:10000]

ratings_df = small_movies_ratings_df.reset_index(drop=True)

user_ratings_pivot = small_movies_ratings_df.pivot(index='userId', columns='title', values='rating').fillna(0)

avg_ratings = user_ratings_pivot.mean(axis=1)
filled_user_item_matrix = user_ratings_pivot.sub(avg_ratings, axis=0).fillna(0)

In [9]:
filled_user_item_matrix.head()

title,$5 a Day (2008),'Round Midnight (1986),"'burbs, The (1989)",(500) Days of Summer (2009),...And Justice for All (1979),10 (1979),10 Rillington Place (1971),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),...,Your Friends and Neighbors (1998),Z (1969),Zack and Miri Make a Porno (2008),Zero Effect (1998),Zombieland (2009),Zoolander (2001),Zootopia (2016),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,...,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229,-0.081229
2,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,...,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225,-0.203225
3,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,-0.737907,...,-0.737907,-0.737907,-0.737907,-0.737907,3.262093,2.762093,-0.737907,2.762093,-0.737907,-0.737907
4,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,...,-0.248707,-0.248707,-0.248707,-0.248707,-0.248707,3.751293,4.251293,-0.248707,-0.248707,-0.248707
5,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,...,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303,-0.115303

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(user_ratings_pivot)

cosine_similarity_df = pd.DataFrame(similarities,
                                    index=user_ratings_pivot.index,
                                    columns=user_ratings_pivot.index)
cosine_similarity_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,66,67,68,69,70,71,72,73,74,75
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.040863,0.061306,0.040815,0.015609,0.000000,0.093852,0.021359,0.022860,0.026149,...,0.027029,0.014144,0.123409,0.077003,0.096766,0.000000,0.047798,0.000000,0.038120,0.016482
2,0.040863,1.000000,0.179009,0.197496,0.158202,0.129720,0.064954,0.176880,0.128820,0.156814,...,0.159310,0.124636,0.106164,0.285614,0.327078,0.240235,0.225541,0.057865,0.095406,0.156462
3,0.061306,0.179009,1.000000,0.357750,0.061448,0.115148,0.031427,0.081003,0.061602,0.132361,...,0.101599,0.043351,0.147375,0.265932,0.224910,0.158936,0.125179,0.046192,0.035388,0.073670
4,0.040815,0.197496,0.357750,1.000000,0.065825,0.072365,0.015566,0.088927,0.066428,0.083821,...,0.056998,0.069856,0.172473,0.183328,0.198931,0.184030,0.098636,0.023829,0.018178,0.054689
5,0.015609,0.158202,0.061448,0.065825,1.000000,0.114936,0.202348,0.307769,0.216435,0.269897,...,0.145419,0.124905,0.036625,0.165236,0.187503,0.181828,0.245060,0.277126,0.260568,0.279906

In [26]:
import pandas as pd

user_ratings_transposed = user_ratings_pivot.T

user_corr_matrix = user_ratings_transposed.corr(method='pearson')

user_corr_matrix_df = pd.DataFrame(user_corr_matrix, columns=user_ratings_transposed.columns, index=user_ratings_transposed.columns)

user_corr_matrix_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,66,67,68,69,70,71,72,73,74,75
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.010201,-0.001074,0.004636,-0.008629,-0.012413,0.082918,-0.008348,-0.009415,0.009031,...,0.006200,-0.012525,0.109552,0.050013,0.066039,-0.014767,-0.021501,-0.015032,0.027486,-0.002442
2,0.010201,1.000000,0.093823,0.149475,0.125682,0.113875,0.047515,0.137379,0.083273,0.134199,...,0.131331,0.087306,0.084431,0.252501,0.290441,0.224253,0.141783,0.035913,0.080509,0.131457
3,-0.001074,0.093823,1.000000,0.281502,-0.015372,0.086019,-0.006997,-0.012480,-0.043644,0.088017,...,0.040714,-0.044089,0.110521,0.201226,0.138870,0.127157,-0.104538,-0.000035,0.001178,0.016536
4,0.004636,0.149475,0.281502,1.000000,0.023080,0.051967,-0.006703,0.037243,0.008647,0.054529,...,0.019619,0.022974,0.149917,0.138742,0.147264,0.163868,-0.026823,-0.003309,-0.001956,0.021134
5,-0.008629,0.125682,-0.015372,0.023080,1.000000,0.102048,0.191285,0.282524,0.185378,0.254675,...,0.123302,0.096240,0.018173,0.135603,0.153964,0.167625,0.189669,0.264584,0.251744,0.263324

## Measuring Sparsity

In [12]:
number_of_empty = ratings_df.isnull().values.sum()
total_number = ratings_df.size
sparsity = number_of_empty / total_number
print(sparsity)

0.0

Since the data is all filled and the sparsity equals to 0, there's no need to use SVD so we can comment all the unnecessary code

In [13]:
# # Step 2: Compute similarity matrix S = Rf.T @ Rf
# similarity_matrix = filled_user_item_matrix.T.dot(filled_user_item_matrix)
# 
# # Step 3: Perform eigenvalue decomposition
# d = 10
# svd = TruncatedSVD(n_components=d)
# svd.fit(similarity_matrix)
# eigenvalues = svd.singular_values_
# eigenvectors = svd.components_.T
# 
# # Step 4: Reduce dimensionality of Rf
# reduced_representation = filled_user_item_matrix.dot(eigenvectors)

In [14]:
# reduced_representation.head()